<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="TRACE" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ABSOLUTE}][%-5p][%-10t][%-5c] %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="target/log/uca-expert_UnitTests.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ABSOLUTE}][%-5p][%-10t][%-5c][%4L] %m%n" />
		</layout>
	</appender>

	<logger name="com.hp.ran" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.hp.uca"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.hp.uca.expert.vp.pd.core.WMTProblem"
        additivity="false">
        <level value="TRACE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>
	
	<logger name="com.hp.uca.expert.alarm.BaseAlarmForwarder"
		additivity="false">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.hp.uca.expert.filter" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	
	<!-- #### -->
	<!-- Root -->
	<!-- #### -->
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>